<html>
  <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/src/styles/globals.css" rel="stylesheet">
		<title>BLIS - Business Location Intelligence System</title>
  </head>
  <body>
    <slot />
  </body>
</html>